@import "fonts.scss";
@import "header.scss";
@import "register.scss";
@import "courses.scss";
@import "stats.scss";
@import "review.scss";
@import "video.scss";
@import "mentors.scss";
@import "map.scss";
@import "contacts.scss";
@import "footer.scss";


// @import "font-awesome/font-awesome.scss";

* {
  font-family: "Open Sans-Regular", OpenSans, sans-serif;
  font-size: 16px;
  color: #666;
}
body,
html {
  height: 100%;
}
.container {
  width: 1250px;
  padding: 0 15px;
}
.color {
  &-gray {
    background-color: #f7f7f7;
  }
  &-blue {
    background-color: #3498db;
  }
}
